<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modify</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Information
            <div class="panel-body">

                <p>Old start date <label th:text="${phr.rentalPeriod.startDate}"></label></p>
                <p>Old end date <label th:text="${phr.rentalPeriod.endDate}"></label></p>

                <form class="form-horizontal" th:object="${catalogQuery}" th:method="post" th:action="@{/dashboard/phrs/modify}">

                    <input type="hidden" name="id" th:value="${phr._id}"></input>

                    <div class="form-group">
                        <label for="rental-start-date" class="col-sm-2 control-label">New start date</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="rental-start-date" th:field="*{rentalPeriod.startDate}"></input>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="rental-end-date" class="col-sm-2 control-label">New end date</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="rental-end-date" th:field="*{rentalPeriod.endDate}"></input>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="submit-button" type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>