<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Plant Hire Request</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Plant Hire Request</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2"><b>ID</b></div>
                <div class="col-sm-8" th:text="${phr._id}"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"><b>Start date</b></div>
                <div class="col-sm-8" th:text="${phr.rentalPeriod.startDate}"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"><b>End date</b></div>
                <div class="col-sm-8" th:text="${phr.rentalPeriod.endDate}"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"><b>Status</b></div>
                <div class="col-sm-8" th:text="${phr.status}"></div>
            </div>


        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>